$btnBackground: #5e539e;
$btnBorder: #36305b;

body {
    background: inherit;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'KG Next to Me', 'Open Sans', sans-serif;
    color: #443c72;
    margin-bottom: 1em;
}

form {
    margin-top: 2em;
    margin-bottom: 2em;
    button {
        margin-top: 1em;
    }
}

.btn {
    margin-right: 10px;
}

.btn-primary {
    background: $btnBackground;
    border-color: $btnBorder;
    &:hover,
    &:focus {
        background: darken($btnBackground, 10%);
        border-color: darken($btnBorder, 10%);
    }
}

.btn-google {
    background: #dd4b39;
    color: #fff;
    &:focus,
    &:hover {
        background: darken(#dd4b39, 10%);
        color: #fff;
    }
}

.btn-facebook {
    background: #3b5998;
    color: #fff;
    &:focus,
    &:hover {
        background: darken(#3b5998, 10%);
        color: #fff;
    }
}

.btn-twitter {
    background: #55acee;
    color: #fff;
    &:focus,
    &:hover {
        background: darken(#55acee, 10%);
        color: #fff;
    }
}
