body {
    background: #dcf7f6;
    padding-top: 50px;
}
.container-fluid {
    max-width: 960px;
}

a {
    cursor: pointer;
}

footer {
    margin-top: 100px;
    text-align: center;
}

.cta {
    display: inline-block;
    padding: 0.75em 1.5em;
    margin: 2em auto;
    text-decoration: none;
    box-shadow: 0 0.4em 0 #7065ae;
    background: #443c72;
    border: none;
    border-radius: 0.3em;
    color: #fff !important;
    font-family: 'KG Next To Me', 'Open Sans', sans-serif;
    text-align: center;
    line-height: 1.5em;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    height: 3em;
}
