.selection {

    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.selection__item {

    a {
        display: block;
        line-height: 100px;
        font-size: 18pt;
        background: #eee;
        color: #fff;
        text-decoration: none;
        &.active {
            background: #bbb;
        }
    }

}
